header {
  height: 70px;
  background-color: #110b3b;
}

.header-wrapper{
  display: flex;
  justify-content: flex-end;
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

#nav-bar {
  display: flex;
  list-style-type: none;
}

.nav-bar-item {
  margin-left: 66px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.nav-bar-item a{
  text-decoration: none;
  color: white;
  line-height: 20px;
}

.nav-bar-item a:hover{
  color: #67264e;
}

.logo a{
  text-decoration: none;
  color: #67264e;
}