.experiences {
  background-color: white;
  height: 850px;
}

.experiences-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  max-width: 1170px;
  text-align: center;
  margin: auto auto;  
  align-items: center;
}

.experiences-title{
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #293145;
  margin-top: 50px;
  margin-bottom: 16px;
}

.experiences-display {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.experience-card {
  width: 370px;
  height: 471px;
  background: #EFF8FF;
  border-radius: 8px;
}

.experience-card-img{
  margin-top: 30px;
  width: 150px;
  margin-bottom: 30px;
}

.experience-card-position{
  max-width: 300px;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  margin: 0 auto 58px auto;
  color: #6E7275;
}

.experience-card-description{
  max-width: 300px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto 58px auto;
  color: #6E7275;
}

.experience-card-button {
  width: 230px;
  height: 43px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  background: #0F9AFE;
  border: none;
  box-shadow: 1px 3px 4px rgba(19, 125, 224, 0.5);
  border-radius: 50px;
}