* {
  margin: 0;
  padding: 0;
}

.stacks {
  background-color: #110b3b;
  height: 400px;
}

.stacks-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1170px;
  align-items: center;
  margin: auto auto;
  justify-content: space-evenly;
}

.stacks-wrapper h1{
  color: white;
}

.flex-container{
  display: flex;
  align-items: center;
  gap: 35px
}

.stacks-wrapper img{
  width: 85px;
  height: auto;
}