.aboutme {
  background-color: #110b3b;
  height: 650px;
}

.aboutme-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  align-items: center;
  max-width: 1170px;
  text-align: center;
  margin: auto auto;  
  align-items: center;
}

.aboutme-info p{
  color: white;
}

.aboutme-info h1{
  color: #67264e;
}

.aboutme-img img{
  width: 400px;
  max-width: 80%;
  box-shadow: -20px -20px #36356e;
}
