footer {
    height: 150px;
    background-color: #110b3b;
}
  
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}