.education {
  background-color: #EFF8FF;
  height: 850px;
}

.education-wrapper{
  display: flex;
  height: 100%;
  align-items: center;
  max-width: 1170px;
  text-align: center;
  margin: auto auto;  
  align-items: center;
  justify-content: space-between;
}

.education-title{
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #293145;
  margin-top: 50px;
  margin-bottom: 16px;
}

.formation {
  display: flex;
  justify-content: space-between;
}

.formation-image {
  width: 100px;
}

.extraclass-card{
  width: 450px;
  height: 60px;
  background-color: rgb(166, 173, 129);
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;

}

.extraclass-card h3{
  display: inline-block
}

.show-card {
  width: 450px;
  height: 200px;
  background-color: rgb(213, 222, 177);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  transition: 600ms;
}

.hidden-card {
  width: 450px;
  height: 0px;
  overflow: hidden;
  background-color: rgb(213, 222, 177);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  transition: 600ms;
}

.imagee{
  width: 70%;
  margin-left: 15px;
}

.seta{
  font-size: 50px;
  margin-bottom: 10px;
  transition: 600ms;
}

.seta-baixo{
  transform: rotate(-90deg);
  font-size: 50px;
  margin-top: 10px;
  margin-right: 5px;
  transition: 600ms;
}